extends layout

block content
	.panel.panel-primary
		if gallerylist
			if tag
				.panel-heading
						h1
							small Galleries tagged with
							|	 #{title}
				.panel-body
					h4 Description:
					.well
						if tag.properties.description
							p= tag.properties.description
						else
							p -no description-
							

			else
				.panel-heading
						h1= title
			ul.list-group
				li.list-group-item
					h3 Galleries:
					.well
						.row
							each gallery, i in gallerylist
								.col-xs-6.col-sm-4.col-md-3.col-lg-2
									//
									a.thumbnail(href='/gallery/view/#{gallery.number}')
										//h6 #{gallery.title.english} / #{gallery.title.japanese}
										img.cover(src='/uploads/#{gallery.number}/0.png')
		else
			h3= title
	//script.
		var cw = $('.cover').width();
		$( window ).resize(function() {
			cw = $('.cover').width();
		});
		$('.cover').css({'height': (cw*4/3) + 'px'});