extends layout

block content
	.panel.panel-primary
		if gallery			
			if gallery.properties.status == 'published'
				.panel-heading
					h3 Gallery: #{title} 
				.carousel.slide#carousel-gallery(data-ride='carousel', data-keyboard='true', data-intervall='false')
									//ol(class='carousel-indicators')
										li.active(data-target='#carousel-gallery' data-slide-to='0')
										- var i = 1
											while i < gallery.properties.pages
												li(data-target='#carousel-gallery' data-slide-to=i++)
									.carousel-inner(role='listbox')
										.item.active(data-url='/gallery/view/#{gallery.number}/0', data-slide-number='0')
										- var x = 1
											while x < gallery.properties.pages
												.item(data-url='/gallery/view/#{gallery.number}/#{x}', , data-slide-number=x)
												-x++
									a.left.carousel-control(href='#carousel-gallery', role='button', data-slide='prev')
										span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
										span.sr-only Previous
									a.right.carousel-control(href='#carousel-gallery', role='button', data-slide='next')
										span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
										span.sr-only Next
			else
				script.
					window.location.replace('/gallery/contribute/view/#{gallery.number}')
		else
			.panel-heading
				h3= title 
	script.
		if(!parseInt(getURLParameter('page'))) {
			changeUrlParam('page', 0)
		}
		$('#carousel-gallery').carousel({
			interval:false // remove interval for manual sliding
		});
		// when the carousel slides, load the ajax content
		$('#carousel-gallery').on('slid.bs.carousel', function (e) {

		var idx = $('#carousel-gallery .item.active').data('slide-number');

		changeUrlParam('page', idx);

			if( $(".item.active > img").length == 0 ) {
				// ajax load from data-url
				$('.item.active').load($('.item.active').data('url'));
			}
			if( $(".item.active").next().children().length == 0 ) {
				$('.item.active').next().load($('.item.active').next().data('url'));
			}
			if( $(".item.active").prev().children().length == 0 ) {
				$('.item.active').prev().load($('.item.active').prev().data('url'));
			}
		});

		// load first slide
		$('.carousel').carousel(parseInt(getURLParameter('page')))
		var firstslide = '.item.active';
		$(firstslide).load($(firstslide).data('url'));
		$(firstslide).next().load($(firstslide).next().data('url'));