extends layout

block content
	.panel.panel-default
		if tagpending.properties.status != 'deleted'
			.panel-heading New Tag: #{title}
			.panel-body
				table.table.table-hover.table-bordered
					tbody
						tr.space
							td(colspan='2')
								h5 Tag Data:
						tr
							th Type: 
							td
								a(href='/tag/type/#{tagpending.properties.type}')= tagpending.properties.type
						tr
							th English:
							td= tagpending.title.english
						tr
							th Japanese:
							td= tagpending.title.japanese
						tr
							th Alternative:
							td= tagpending.title.alternative
						tr
							th Description: 
							td= tagpending.properties.description
						tr.space
							td(colspan='2')
								h5 Contribution Information:
						tr
							th Submitted by:
							td
								a(href='/user/#{tagpending.user._id}', class=tagpending.user.role, title=tagpending.user.role)= tagpending.user.name
						tr
							th Submitted on:
							td= tagpending.date
						tr
							th Published on:
							td: tagpending.published
						tr
							th Status:
							td#status(class='#{tagpending.properties.status}')= tagpending.properties.status
						tr
							th Points:
							td#points #{votes.reduce(function(total, vote) { return total + vote.vote; }, 0)} from #{votes.length} votes
						tr
							th Note:
							td= tagpending.note
				if usermail
					if tagpending.properties.status == 'pending' || currentuser.role == "admin"
						.btn-group(role='group', aria-label='moderating')
							if currentuser.role == "admin"
								button.btn.btn-danger.btnmodify#btnDelete(name='deletetag', value='deleted', type='button') 
									span.glyphicon.glyphicon-remove(aria-hidden="true")
									|	Delete
							if usermail == tagpending.user.mail || currentuser.role == "admin" || currentuser.role == "moderator"
								button.btn.btn-warning.btnmodify#btnReject(name='rejecttag', value='rejected', type='button')
									span.glyphicon.glyphicon-remove(aria-hidden="true")
									|	Reject
							if currentuser.role == "admin" || currentuser.role == "moderator"
								button.btn.btn-success.btnmodify#btnPublish(name='publishtag', value='published', type='button')
									span.glyphicon.glyphicon-ok(aria-hidden="true")
									|	Publish
						script.
							$('.btnmodify').click(function() {
								$.ajax({
									url: '/modify/tag/#{tagpending._id}/' + $(this).val(),
									type:'POST',
									success: function(msg) {
									$('#status').load('/tag/contribute/view/#{tagpending._id} #status');
									}
								});
							});
			panel.footer
				if usermail
					.rate Rate this post
						br
						.btn-group(role='group', aria-label='Rating')
							button.btn.btn-danger.btnvote#btnDownvote(name='vote', value=-1)
								span.glyphicon.glyphicon-thumbs-down(aria-hidden="true")
								|	Downvote
							button.btn.btn-success.btnvote#btnUpvote(name='vote', value=+1)
								span.glyphicon.glyphicon-thumbs-up(aria-hidden="true")
								|	Upvote
						script.
							$('.btnvote').click(function() {
								$.ajax({
									url: '/vote/#{tagpending._id}',
									type:'POST',
									data: {
										vote: $(this).val()
									},
									success: function(msg) {
									//alert('Tag rated');
									$('#points').load('/tag/contribute/view/#{tagpending._id} #points');
									}
								});
							});
				else
					.rate Please
						a#browserid(href='javascript:navigator.id.request()')  sign in
						|	to rate
						form(id="login-form", action="/auth", method="POST")
							input(id="assertion-field", type="hidden", name="assertion", value="")
							input(type="hidden", name="_csrf", value=csrf)
		else
			.panel-heading Tag deleted